.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: cadetblue;
}

button {
  margin-left: 10px;
}

.contacts-view {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.search-contact {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 4px 0;
  width: calc(100% - 16px);
  box-sizing: border-box;
}
